body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
background: url(images/cover_original.jpg) top;
background-size:cover;

}

.carousel-inner img {
 /* Set width to 100% */
      margin: auto;
      min-height:200px;
      max-height:500px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

@media (min-hight:600px) {
    .carousel .item{
    max-width:650px;
    max-height:300px;
    overflow:hidden;
    }
}

  .container .services{
      margin-top:50px;}

.carousel.slide.item {
overflow:hidden;
}

.carousel-caption h2, .carousel-caption h3{
color:white;
font-weight:700;
}


.table tr {
border-bottom: solid gray 2px; 
}

input {

margin-bottom:10px;}