@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Екстримальні Розваги</h1>
    <p class="lead">Екстрим Адреналін Кураж Вибух емоцій та Незабутні враження</p>
    <p><a href="/Service/Index" class="btn btn-primary btn-lg">Ризикнути &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Екстримальні види Розваг</h2>
        <p>
           Хочете відірватися по повній. Спіймати Кураж, відчути 100% адреналін, щоб аж волосся дибки стало, і не лише у Вас. 
            Тоді Ви Вже на пів-шляху до мети. Оберіть один з видів екстримальних розваг, або навіть кілька. Вам сподобаеться.
        </p>
        <p><a class="btn btn-default" href="/Service/Index">EXTREME &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Новинни</h2>
        <p>Залтшайтеся в курсі всі подій що відбуваються з Нами та Сміливцями що спробували Жорсткий Драйв.
       </p>
        <p><a class="btn btn-default" href="/Blog/Index">Переглянути Блог &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Про Нас</h2>
        <p>Дізнатеся Більше про Нашу Команду</p>
        <p><a class="btn btn-default" href="/Home/About">Дізнатися &raquo;</a></p>
    </div>
</div>